/* Cabeçalho */
#headerPrincipal {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #292369;

  padding: 10px;
}

.logo-cliente {
  max-width: 150px;
  max-height: 90px;
}

.logo-seap {
  width: 100px;
}
/* Fim Cabeçalho */

/* Conteúdo */
#conteudoPrincipal {
  padding: 25px;
}

.bloco {
  background-color: #ebeff2;
  border-radius: 16px;

  padding: 20px;
}

#header-relatorio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 35px;
}

.nome-relatorio {
  font-size: 1.2rem;
  margin: 0;
}

.periodo-relatorio {
  min-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-periodo-relatorio {
  position: absolute;
  top: 5px;

  font-size: 0.95rem;
  font-weight: 600;

  color: #606966;
}

.periodo:first-child {
  margin-right: 15px;
}

.titulo-periodo {
  font-weight: bold;
  font-size: 1.1rem;
}
/* Fim Conteúdo */

/* Relatório */
#relatorio {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.table-custom {
  width: 100%;
  text-align: center;
  color: #536854;
  display: inline-table;
}

#relatorio thead th,
#relatorio tfoot th {
  padding: 23px 5px;
  font-size: 1.2rem;
  letter-spacing: .5px;
}

#relatorio tfoot th {
  padding: 40px 5px 23px;
}

#relatorio tbody td {
  padding: 5px;
}
/* Fim Relatório */

/* Media Query - Responsividade Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Cabeçalho */
  #headerPrincipal {
    justify-content: center;
  }

  .logo-cliente {
    position: absolute;
    left: 10px;
  }
  /* Fim Cabeçalho */
}

/* Media Query - Responsividade SmartPhones */
@media (max-width: 767.98px) {
  /* Cabeçalho */
  .logo-cliente {
    max-width: 130px;
    max-height: 70px;
  }

  .logo-seap {
    max-width: 90px;
  }
  /* Fim Cabeçalho */

  /* Conteúdo */
  #header-relatorio {
    flex-direction: column;
    padding-top: 20px;
  }

  .nome-relatorio {
    font-size: 1.1rem;
  }

  .periodo-relatorio {
    margin-top: 20px;
  }

  .titulo-periodo-relatorio {
    position: relative;
    top: 0;
  }

  .titulo-periodo {
    font-size: 1rem;
  }

  .resultado-periodo {
    font-size: 0.9rem;
  }
  /* Fim Conteúdo */

  /* Relatório */
  #relatorio thead th,
  #relatorio tfoot th {
    font-size: 1.05rem;
  }
  #relatorio td {
    font-size: 0.95rem;
  }
  /* Fim Relatório */
}